<%- include("../partials/header") %>
<div class="container text-center">
    <h1 class="display-5 mt-3">Create a New Campground</h1>
    <div style="width: 30%; margin: 25px auto;">
        <form class ="form-group" action="/campgrounds" method="POST">
            <input class="form-control mb-3" type="text" name="name" placeholder="name" >
            <input class="form-control mb-3" type="number" name="price" placeholder="price" min="0.0.1" step="0.01" >
            <input class="form-control mb-3" type="text" name="image" placeholder="image url">
            <input class="form-control" type="text" name="description" placeholder="description">
            <button class="btn btn-primary btn-lg btn-block mt-3">Submit</button>
        </form>
        <a href="/campgrounds">Back</a>
    </div>
    
    

</div>

<%- include("../partials/footer") %>