<h1>Secrets Page</h1>
<p>You Found Me!</p>
<img src="https://i.kym-cdn.com/entries/icons/facebook/000/026/904/eoin-o-broin-06.jpg" alt="">
<li><a href="/register">Register</a></li>
<li><a href="/login">Log In</a></li>
<li><a href="/logout">Log out</a></li>